build
build-test
dist
ivy
logs
output
lib/test
lib/master/commons-logging.jar
lib/master/fastutil.jar
lib/master/junit.jar
lib/master/log4j.jar
lib/master/lucene-core.jar
lib/master/protobuf-java.jar
lib/master/spring.jar

