<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

  <context-param>
		<param-name>config.dir</param-name>
		<param-value>sensei-conf</param-value>
	</context-param>
	<listener>
		<listener-class>com.sensei.search.client.servlet.SenseiConfigServletContextListener</listener-class>
	</listener>
 
  <!-- ******************************************************************* -->
  <!-- * Servlets definition * -->
  <!-- ******************************************************************* -->
    
  <servlet>
 
  	<servlet-name>SenseiBroker</servlet-name>
  	<servlet-class>com.senseidb.servlet.SenseiNodeServlet</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
 
  <!-- ******************************************************************* -->
  <!-- * Servlets mapping * -->
  <!-- ******************************************************************* -->
  
  <servlet-mapping>
  	<servlet-name>SenseiBroker</servlet-name>
  	<url-pattern>/sensei/*</url-pattern>
  </servlet-mapping>
</web-app>
